* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  background-color: #1e1d1f;
  font-family: Roboto, Arial, sans-serif;
  display: flex;
  padding: 150px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div#text {
  background-color: rgb(37, 37, 37);
  width: 288px;
  height: 175px;
  border-radius: 15px;
  text-align: center;
  border: 2px solid darkslateblue;
}

section {
  background-color: rgb(22, 22, 22);
  width: 280px;
  height: 290px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  border: 2px solid darkslateblue;
}

p {
  color: #ad99f1;
  font-size: 11pt
}

h1 {
  font: bold 33pt sans-serif;
  color: #ad99f1;
}

form {
  display: flex;
  flex-direction: column;   
  justify-content: center;
  align-items: center;
  padding: 10px;
}

form .input-block {
  margin-bottom: 20px;
}

form .input-block label {
  font-size: 14px;
  color: darkslateblue;
}

form .input-block input {
  width: 100%;
  display: block;
  margin-top: 8px;
  padding: 7px;
  font-size: 16px;
  color: #7159c1;
  border-radius: 4px;
  border: 1px solid #bccbdb;
  outline-color: #7159c1;
}

form .btn-login {
  display: block;
  min-width: 130px;
  border: none;
  background-color: #7159c1;
  color: rgb(255, 255, 255);
  border-radius: 25px;
  margin: auto;
  padding: 7px;
  box-shadow: 0px 3px 0px #ad99f1
}

/* Aparição do Form */

section {
  animation: fade 0.2s;
}

form .input-block:nth-child(1){
  animation: move 500ms;
}

form .input-block:nth-child(2){
  animation: move 400ms;
  animation-delay: 100ms;
  animation-fill-mode: backwards;
}

form .btn-login {
  animation: move 400ms;
  animation-delay: 250ms;
  animation-fill-mode: backwards;
}

@keyframes move {
  from {
    opacity: 0;
    transform: translateX(-20%);
  } 
  to {
    opacity: 1;
    transform: scale(1);
    transform: translateX(0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.9);
  } 
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Quando clicar no botão, sumir com o form */

.form-hide {
  animation: down 500ms forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5vh);
  }
  100% {
    transform: translateY(100vh);
  }
}



/* Form NO-NO */

.validate-error {
  animation: nono 200ms linear, fade paused;
  animation-iteration-count: 2;
}

@keyframes nono {
  0%,
  100% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-10%);
  }
  75% {
    transform: translateX(10%);
  }
}

/* squares */
body {
  overflow: hidden;
}

.squares li {
  width: 40px;
  height: 40px;
  background-color: rgba(34, 33, 36, 0.219);
  display: block;
  position: absolute;
  bottom: -40px;
  animation: up infinite;
  animation-direction: alternate;
  border: 2px #b19aff solid;
  border-radius: 2px;
}

@keyframes up {
  from { 
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-600px) rotate(960deg);
  }
}

